$PrimaryColor:#6dc234;
$GreyColor:#859196;

.feature {
    padding: 0 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;

    .feature-tag {
        grid-column: 2/4;
        margin-bottom: 50px;
    }

    h2 {
        font-weight: 500;
        line-height: 1.8;
        color: #363636;
    }

    .feature-tag {
        line-height: 2;
        color: $GreyColor;
    }
}

.feature-box {
    padding: 50px 40px;
    border: 1px solid #dddddd;
    transition: all .3s cubic-bezier(0.23, 0.2, 0.71, 0.77);

    .fas {
        font-size: 50px;
        color: $PrimaryColor;
        margin-bottom: 30px;
        transition: .3s;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 15px;
        color: #363636;
        transition: .3s;
    }

    p {
        line-height: 2;
        color: $GreyColor;
        font-size: 15px;
    }

    &:hover .fas {
        animation: icon .8s infinite alternate linear;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        background: #6dc2347a;
        box-shadow: 0px 5px 30px 3px #6dc234,
            inset 0px -3px 0 #6dc234;
        ;
    }

    &:hover {
        background: #343a40;
    }

    &:hover h3 {
        color: white;
    }
}

.subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg_1.jpg) center/cover no-repeat;
    padding: 120px 8%;
    margin: 120px auto;
    text-align: center;
    color: white;
}

.feature-carousel {
    padding: 0 8%;
}